.App-main {
  text-align: center;
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #eb5757, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-login {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tab-1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tab-2 label {
  min-width: 300px;
  text-align: left;
}

input {
  height: 30px;
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.button-login {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 0.8em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

#p-login {
  font-size: 16px;
}

#h2-login {
  font-size: 26px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.hidden {
  display: none;
}

.span-clickable {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

label {
  font-size: 16px;
}

.main-frame {
  background-color: white;
  max-width: 500px;
  padding: 30px;
}

.tweet-box {
  border: 1px solid #ccc;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.tweet-box h4 {
  margin: 0;
}

.tweet-box h3 {
  margin-bottom: 0;
}

.tweet-box p {
  margin: 0;
}

.tweet-box span {
  font-size: 12px;
}

.tweet-box button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  background-image: linear-gradient(#3470fa, #313ed7);
  color: white;
  border: solid 2px #0618db;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  transform: scale(0.89);
  position: relative;
}

textarea {
  resize: none;
  border: 1px solid var(--default-medium);
  color: var(--heading);
  font-size: 14px;
  border-radius: 8px;
  padding: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-xs */
  display: block;
}

textarea::placeholder {
  font-size: 14px;
}

.input-tweet-box {
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  transition: 0.5s ease;
}

.loader {
  width: 15px;
  height: 15px;
  border: 4px solid #ddd;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 428px) {
  .tweet-box {
    width: 80%;
  }

  .input-tweet-box {
    width: 80%;
  }

  .tweet-box textarea {
    width: 80%;
  }
}
